html, body {
	padding-right: 20px;
	padding-left: 20px;
	margin:0px;
    min-height: 100%;    
    font-size: 100%;
}
body {
 	background: rgb(240,240,240); /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(left top, rgb(230,230,230), rgb(245,245,245)); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(bottom right, rgb(230,230,230), rgb(245,245,245)); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(bottom right, rgb(230,230,230), rgb(245,245,245)); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to bottom right, rgb(230,230,230), rgb(245,245,245)); /* Standard syntax */
  	background-repeat: no-repeat;
}

ul{
	list-style-type: none;
	
}

div {
	margin-top: 0px;
	margin-bottom: 5px;
}

	/*header.html*/

header a{
	text-decoration: none;
    color: #444;
	font-weight: 700;
    font-family: 'Oswald', arial, serif;
    line-height: 1;
}

header {
	margin-top: 20px;
	margin-bottom:10px;
    padding: 10px;
    background-color: #3dacea;
}

#header {
	
	background: url('logo-min-238x300.png') no-repeat;
    background-size: 60px;
    padding-left: 80px;
    font-family: 'Open Sans', sans-serif;
}

#p_titulo {
	line-height: 1;
    margin: 10px 0 8px;
    margin: 0.625rem 0 0.5rem;    
    font-size: 42px;
    font-size: 2.625rem;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

#p_descripcion{
	margin: 0;
}

footer{
	position: absolute;
    bottom: 0;
    right: 40px;
    left: 40px;
	background-color: black;
	color: white;
	margin-top: 10px;
    padding: 20px;
	/*TODO Hacer que el footer se quede abajo (se va muestra ahora mismo siempre incluso si hay scroll y se descoloca)*/
}

footer a {
    text-decoration: none;
	color: white;
}
	/*index.php*/
	
.button a {
    background-color: #008CBA;
	border-radius: 4px;
    color: white;
    display: block;
    margin: auto;
	margin-bottom: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    width: 100px;
    -webkit-transition-duration: 0.4s; /* Safari */
}

.button a:hover {
    background-color: white;
    color: #008CBA;
}

#div_inicio {
	padding: 20px;    
	vertical-align: middle;

}

#FormularioUsuarios{
	margin-top: 2.5%;
	margin-left:15%;
	margin-right:15%;
	padding-top:2.5%;
	padding-bottom:1%;
	padding-left:5%;
	padding-right:5%;
	border: solid #008CBA;
}

label {
    display:inline-block;
    width:190px;
}

input.box{
	width: 30.4%;
}

button.submit{
    background-color: #008CBA;
	border-radius: 4px;
    color: white;
    display: block;
	float: right;
    margin: auto;
	margin-bottom: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    width: 100px;
}

button.submit:hover{
    background-color: white;
    color: #008CBA;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
  	cursor: pointer;
}

#button_enviar{
	margin:-50px;
}

span.error{
    display:inline-block;
	color:red;
}

::selection{
	background-color: #3dacea;
	color: white;
}

@font-face {
  font-family: 'Oswald';
  src: local('Oswald Regular'), local('Oswald-Regular'), url(http://fonts.gstatic.com/s/oswald/v10/pEobIV_lL25TKBpqVI_a2w.woff2) format('woff2');
}