html, body {    
	margin: 0;
    padding: 0;
    height: 100%;
}

ul.menu{
	list-style-type: none;
	padding: 0em;
	
}


#container{  
	padding: 1.2em 2.5em 1.2em 2.5em;
 	background: rgb(240,240,240); /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(left top, rgb(190,190,190), rgb(245,245,245)); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(bottom right, rgb(190,190,190), rgb(245,245,245)); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(bottom right, rgb(190,190,190), rgb(245,245,245)); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to bottom right, rgb(190,190,190), rgb(245,245,245)); /* Standard syntax */
  	background-repeat: no-repeat;
	min-height: 94%;
    position: relative; 
}
	/*header.html*/

#header a{
	text-decoration: none;
    color: #444;
	font-weight: bold;
    font-family: 'Oswald', arial, serif;
    line-height: 1em;
}

#header {
	position:relative;
    padding: 1.25em;
	background: #3dacea;
    font-family: 'Open Sans', sans-serif;
}

#content{
	margin-bottom: 6em;
}

#footer{
	position: absolute;
	bottom: 1.25em;
	left: 2.5em;
	right: 2.5em;
    height: 2.813em;
	background-color: black;
	color: white;
    padding: 0.625em;
}

#footer a {
    text-decoration: none;
	color: white;
}

#logo{
	background: url('img/logo-min-238x300.png') no-repeat;
    padding-left: 4.375em;
    background-size: 3.75em;
}

.p_titulo {
	line-height: 1em;
    margin: 0.238em 0 0.191em;
    font-size: 2.625em;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

.p_titulo2 {
	line-height: 1em;
    margin: 0.238em 0 0;
    font-size: 2em;
    border: 0;
    padding: 0;
    padding-bottom: 0.5em;
    vertical-align: baseline;
    color: #444;
	font-weight: bold;
    font-family: 'Oswald', arial, serif;
}

.p_descripcion{
	margin: 0.5em;
}
	/*index.php*/
	
#menuInicio{
	padding-top:1.5em;
	margin: 0em;
	margin-top:1.25em;
}

.button a {
    background-color: #008CBA;
	border-radius: 0.25em;
    color: white;
    display: block;
    margin: auto;
	margin-bottom: 0.313em;
    padding: 0.938em 2em;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    width: 6.25em;
    -webkit-transition-duration: 0.4s; /* Safari */
}

.button a:hover {
    background-color: white;
    color: #008CBA;
}

#div_inicio {
	padding: 1.25em;    
	vertical-align: middle;

}


/* Formularios */

div#login{	
	margin:auto;
	margin-top: 3em;
	width: 15em;
	padding-top:1.2em;
	padding-bottom:0.5em;
	padding-left:2.5em;
	padding-right:3.75em;
	border: solid #008CBA;
}

div#formulario{
	margin-top: 1em;	
	margin-left:12.6285%;
	margin-right:12.6285%;
	padding-top:1.2em;
	padding-bottom:0.5em;
	padding-left:2.5em;
	padding-right:3.75em;
	border: solid #008CBA;
}

div.lineaFormulario{
    min-height: 2.375em;
}

label {
	vertical-align: top;
    text-align: right;
    display:inline-block;
    margin-right: 10px;
    width:190px;
}

#label_checkResponsable{
	margin-left: 20px;
	text-align: left;
	display: inline;
}

input.box{
	width: 234px;
}

input.error, select.error{
	background-color: #FFAAAA;
	
}

#input_checkResponsable.error{
}

input.error:focus, select.error:focus, #input_checkResponsable.error:focus{
  	border-color:#FF4444;
  	outline-color: #FF9999;
}

#select_fecha, .selectsEnLinea{
	vertical-align: top;
	display: inline-block;
}

button.submit{
    background-color: #008CBA;
	border-radius: 4px;
    color: white;
    display: block;
    margin-left: auto;
	margin-bottom: 5px;
	margin-top: -50px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    width: 100px;
}

button.botonLogin{
    background-color: #008CBA;
	border-radius: 0.25em;
    color: white;
    display: block;
    margin-left: auto;
	margin-bottom: 0.25em;
    padding: 0.7em 0em;
    width: 6em;
}

button.submit:hover button.botonLogin:hover{
    background-color: white;
    color: #008CBA;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
  	cursor: pointer;se
}

span.error{
    display:inline-block;
	color:red;	
    width:320px;
}

span.error2{
    margin-bottom: 1em;
}

	/************
	 *  VISTAS  *
	 ************/
	
	/* Barra de navegacion (filtros y nuevo) */
nav{
	background-color: #3DACEA;
	text-align: right;
}
nav li,nav form{
	display: inline;
	padding:20px;
	padding:20px;
}

/* TODO Dar formato a los fotones, desplazar los del filtro a la izquierda */

	/* Definicion de min-with para Body (para que al minimizar se vea fondo)
	 * Tamaño de la tabla (#ConsultaX width) más 5em */

body.vistaUsuarios{
	min-width: 83em;
}

body.vistaResponsables{
	min-width: 52.5em;
}

body.vistaMatriculas{
	/* TODO Definir min-width */
}

body.vistaInstrumentos{
	/* TODO Definir min-width */
}

body.vistaPrestamos{
	/* TODO Definir min-width */
}

body.vistaFaltas{
	min-width: 58.5em;
}

body.vistaPagos{
	/* TODO Definir min-width */
}

body.vistaAsignaturas{
	min-width: 23em;
}

	/* Margenes automaticos. Es necesario establecer la anchura de la tabla para que funciones */
	
div.consultas{
	margin: auto;
	margin-top: 2.125em;
}
	
#ConsultaUsuarios{
	width: 78em;
}

#ConsultaPrestamos{
	width: 38em;
}
#ConsultaResponsables{
	width: 47.5em;
}

#ConsultaMatriculas{
	/* TODO Definir width */
}

#ConsultaInstrumentos{
	/* TODO Definir width */
}

#ConsultaPrestamos{
	/* TODO Definir width */
}

#ConsultaFaltas{
	width: 53.5em;
}

#ConsultaPagos{
	/* TODO Definir width */
}

#ConsultaAsignaturas{
	width: 18em;
}

.tickIcon, .notepadIcon{
	width:1.25em;
	height:1.25em;
}


.botonJustificar{
	width:2em;
	height:2em;
}
.evenrow, .oddrow{
	font-weight: bold;
	padding-left:1em;
	min-height: 3em;
}

.evenrow:hover, .oddrow:hover{
	 /*font-style: italic;*/
}

	/* Color de las filas pares */
.evenrow{
	background-color: #008CBA;
}
	
	/* Color de las filas impares */
.oddrow{
	background-color: #3DACEA;
}

	/* Cabecera de la tabla */
.titlerow{
	padding-left:1em;
	background-color: #DDDDDD;
	border: 0.0625em;
	border-style: solid;
	border-color: #008CBA;
	font-weight: bold;
}

	/* Definicion de distintos tamaños de columna */  

div.col3{
	width: 3em;
}
div.col6{
	width: 6em;
}
div.col12{
	width: 12em;
}
div.col15{
	width: 15em;
}

	/* Propiedades de las columnas */
div.col3, div.col6, div.col12, div.col15{
	display: inline-block;
	text-align: center;
	padding-top:0.3em;
	padding-bottom:0.3em;
}
div.col3 span, div.col6 span, div.col12 span, div.col15 span{
}


	/* Color de fondo y de letra al seleccionar texto */
::-moz-selection { /* Code for Firefox */
    background: #3dacea;
    color: #white;
}
::selection {
	background: #3dacea;
	color: white;
}

	/*About*/

ul.ul_circle{
	list-style-type: circle;
}

 	/* Error */

div.error{
	color: red;
	border: double;
	margin: 1em;
}

	/* Modal Asignatura */

#overlay{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
	background-color: rgba(0,0,0,0.5);
}
 /*Work In Progress*/
#nuevaAsignatura{  
	width: 40em;
    height: 200px;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -100px;
    margin-left: -20em;
    background-color: #3DACEA;
    border-radius: 5px;
	z-index: 11;
}
.lineaModal{
    margin-top: 3em;
}

.tituloModal{
	margin-left: 3em;
	font-size: 1.5em;
	font-style: bold;
}

.modalBox{
	width: 15em;
    margin-left: 12em;
}

.hidden{
	display: none;  
}

@font-face {
  font-family: 'Oswald';
  src: local('Oswald Regular'), local('Oswald-Regular'), url(http://fonts.gstatic.com/s/oswald/v10/pEobIV_lL25TKBpqVI_a2w.woff2) format('woff2');
}